@import "tailwindcss";

:root {
  --background: #010725;
  --foreground: theme("colors.gray.200");
  --dark-blue: #010725;
  --blue: #0328ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;   /* thickness */
}

/* track (background) */
::-webkit-scrollbar-track {
  background: var(--dark-blue); /* dark blue */
}

/* thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #04376A; /* lighter dark blue */
  border-radius: 8px;
}

/* thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #06509B;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes starPop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
